* {
    padding: 0;
    margin: 0;
}

body {
    background-color:white;
    overflow-x: hidden;
}




.header {
    height: 200px;
    width: 100%;
    background-color: #13457A;
    position: fixed;
    z-index: 5;
    top: 0;
  

}

.header .upper {
    height: 130px;
    background-color: white;

}

.header img {
    margin: 0;
    position: relative;
    top: -5px;
    left: 45px;
    display:inline;
}
.header .avail img{
    display: inline;
    position: relative;
    left: 1100px;
    top: -45px;
}
.header .avail h2{
    display: inline;
  position: relative;
    left: 1270px;
    top: -55px;
    color: #13457A;
}

.header .box1 {

    height: 50px;
    width: 400px;
    background: #F1F8FF;
    display: inline-block;
    position: relative;
    left: 210px;
    top: 45px;
    border-radius: 40px;


}

.box1 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #8A8A8A;
    text-align: left;
    position: relative;
    top: 15px;
    left: 10px;

}

.header .box1 img {
    position: relative;
    left: 340px;
    top: -21px;
    
}
.upper .scope img{
    display: inline;
    position: relative;
    top: -60px;
    left: 355px;
  
    
}


.nav .ul li{
    padding: 0px;
    list-style: none;
    margin: 20px;
    float:left;
   


}


.nav li {
    display: inline;
    margin-right: 30px;
    color: white;
    position: relative;
    top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ul .more  {
    display: inline;
    margin-right: 30px;
    color: white;
    position: relative;
    top: -1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
}
.d1 .o{

    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-top: 5px solid; 
    margin-left: 5px;
}
 .d1:hover+.c1{
    display: block;
    color:black;
    font-size: large;
    background-color: white;
  
   
}
 .c1{
    display: none;
    position: absolute;
    top: 100%;
    left: 85px;
    
    
}.d2 .m{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-top: 5px solid; 
    margin-left: 5px;
}

.d2:hover+.c2{
    display: block;
    color:black;
    font-size: large;
    background-color: white;
  
}
 .c2{
    display: none;
    position: absolute;
    top: 100%;
    left: 170px;
    
}
.d3 .g{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-top: 5px solid; 
    margin-left: 5px;
}



.d3:hover+.c3{
    display: block;
    color:black;
    font-size: large;
    background-color: white;
    
}
 .c3{
    display: none;
    position: absolute;
    top: 100%;
    left: 250px;
    
    
}

.more img{
    display: inline;
    margin: 0;
    position: relative;
    left: -310px;
    top: 30px;
}
.more .x img{
    display: inline;
    margin: 0;
    position: relative;
    left: -170px;
    top: 1px;

}
.more h5{
    position: relative;
    left: -175px;
    top: -23px;
}

.main .section{
   width: 100%;
   height: 643px;
   margin-top: 200px;
}
.main p{
    word-wrap: break-word;
    max-width: 600px;
}
.section {
    background-image: url(back.avif);

}
.section h2 {
    position: absolute;
    text-align:left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}
.section p{
    position: relative;
    top: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
  word-wrap: break-word;
  display: flex;
}
.main .department{
    display: flexbox;
    height: 300px;
    width: 100%;
    position: relative;
    top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.department h4{
    color: #EBA723;
    position: relative;
    left: 50px;

}
.department h2{
    color: #13457A;
    position: relative;
    left: 50px;
}
.department img{
    position: relative;
    top: 25px;
    left: 60px;
}
.main .services{
    height: 400px;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.services h4{
    color: #EBA723;
}
.services h2{
    color: #13457A;
}
.services img{
 position: relative;
 height: 290px;
 margin-top: 25px;
}
.main .doctors{
    height: 600px;
    width: 100%;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #13457A;
}
.doctors h4{
    position: relative;
    left:35px;
    top: 55px;
    color: #EBA723;
}
.doctors h2{
    position: relative;
    left:35px;
    top: 65px;
    color:white;
    text-transform: capitalize;

}
.doctors img{
    position: relative;
    top: 100px;
    left: 35px;

}
.main .lab{
    height: 500px;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lab h4{
    color: #EBA723;
    position: relative;
    top: 55px;
    left: 35px;

}

.lab  h2{
    color: #13457A;
    position: relative;
    top: 65px;
    left:35px;
    text-transform: capitalize;
 }

.lab img{
    position: relative;
    top: 75px;
}



.main .package{
    height: 550px;
    width: 100%;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .package h4{
    color: #EBA723;
    position: relative;
    top: 55px;
    left: 35px;
 }
 .package h2{
    color: #13457A;
    position: relative;
    top: 65px;
    left:35px;
    text-transform: capitalize;
 }
 .package img{
    position: relative;
    top: 85px;
    left: 65px;
 }
 .main .pat{
    height: 300px;
    width: 100%;
    align-items: center;
   

 }
.pat img{
    position: relative;
    display: inline-block;
    left: 575px;
    top:15px;
  }
  .pat .q img{
    position: relative;
left: 120px;
    top:200px ;
    display: inline;
  }
  .pat p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    margin-left: 170px;
    text-align: center;
   width:1000px;
   top: 30px; 
  } 
  .pat h3{
    position: relative;
padding-left: 570px;
margin-top: 65px;
  }
    
.main .accre{
    width: 100%;
    height:450px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.accre h4{
    color: #EBA723;
    position: relative;
    top: 55px;
    left: 35px;
 }
.accre h2{
    color: #13457A;
    position: relative;
    top: 65px;
    left:35px;
    text-transform: capitalize;
}
.accre img{
    position: relative;
    top: 120px;
}
.footer{
    overflow-x: hidden;
}
.footer .u{
    width: 100%;
    height: 500px;
    background-color: #13457A;
   border-top: 10px solid  #2390EB;
   overflow-x: hidden;
   overflow-y: hidden;

   
} .footer .u .a img{
    position: relative;
 margin-left: 120px;
    top: 80px;
}
.footer .b h2{
    position: relative;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: -200px;
    left: 600px;
}
.b ul {
    list-style: none;
    color: white;
    
  }
  
  .b ul li:before {
    content: '✓';

  }
  .b  li{
    position: relative;
    left: 615px;
    top: -200px;
    padding-block: 7px;
   
  }

  
 ul > li::before {
    color:yellow;
  }
 
  .footer .c h2{
    position: relative;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-top: -485px;
    left: 950px;
}
.c ul {
    list-style: none;
    color: white;
    
  }
  
  .c ul li:before {
    content: '✓';

  }
  .c  li{
    position: relative;
    left: 1000px;
    top: -1px;
    padding-block: 7px;
   
  }
  .footer .d{
    color: white;
  }
  .d h2{
    position: relative;
    left: 1250px;
  margin-top: -135px;
  }
  .d p{
    position: relative;
    left: 1250px;
   
  }
  .footer .l{
    width: 100%;
    height: 50px;
    background-color: #13457A;
   border-top: 2px solid white;
   overflow-x: hidden;
   overflow-y: hidden;
  

  }
  .l .x p{
    color: white;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  top: 15px;
  }
.l .y p{
    color:white;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  top: -10px;
  left: 600px;
  }
  .l .sm img{
    position: relative;
    top: -30px;
    left:1300px ;
  }
  .y .zz{
    color: blue;
    font-size: large;
    font-weight: 600;
  }



